.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 42.75rem;
    margin-left: -50px;
    display: block;
    margin-right: 0;
    font-family: 'Luminari', sans-serif;
}

.box {
    height:0px;
    padding-left: 50%;
    padding-bottom: 100%;
    line-height: 3.3rem;
}
 
.col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

#rows {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
}

#content {
    width: 100%;
    max-width: 325px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}