:root {
    --green: #3a753f;
    --yellow: #75653a;
    --black: #343434;
    --background: #181818;
    --text: black;
    --body: url(imgs/1.jpg);
    --button: #212529;
}

.wrong {
    background-color: var(--black);
}

.wrongplace {
    background-color: var(--yellow);
}

.correct {
    background-color: var(--green);
}

body {
    background-position: left top;
    background-repeat: repeat;
    background-image: var(--body);
}

.bg-dark {
    background-color: var(--background)!important;
}

.text-light {
    color: var(--text);
}

.btn-dark {
    background-color: var(--button);
}

.navbar-brand {
    margin-top: 0.6rem;
    font-family: 'Luminari', sans-serif;
}

.box {
    text-align: center;
    padding: 2.32px 0px;
    font-size: 1rem;
    font-weight: 600;
}

.key {
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}

.box, .key,.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.col-lg-2, .col-md-3, .col-xs-6{
    margin-top: 30px;
}

#guesses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin: 0px 2px;
}

#content {
    width: 100%;
    max-width: 475px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 45px 20px 45px 20px;
    background-repeat: round;
}

.border-primary {
    border-color: #acacac!important;
}

.border-invisible {
    border-color: #00000000!important;
}

.opacity-0, .opacity-1 {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.white-background, .wrong-theme2, .correct-theme2, .wrongplace-theme2 {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.display-small-settings, .display-big-settings, .display-small-victory, .display-big-victory {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: height 0.3s, width 0.3s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.46, 0.56, 0.95, 0.53), cubic-bezier(0.57, -0.11, 0.49, 0.91), cubic-bezier(0.46, 0.56, 0.95, 0.53);
}

.white-background {
    background-color: #ffffff32;
}

.display-small-settings {
    opacity: 0;
    width: 100%;
    height: 35%;
}

.display-small-victory {
    opacity: 0;
    width: 83%;
    height: 45%;
}

.display-big-settings {
    opacity: 1;
    width: 100%;
    height: 40%;
}

.display-big-victory {
    opacity: 1;
    width: 83%;
    height: 53%;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

.backgroundImg:hover {
    background-color: #ffffff3d;
}

@media (min-width: 349px) {
    .box {
        text-align: center;
        padding: 4.7px 0;
        font-size: 1.7rem;
        font-weight: 600;
    }
}

@media (min-width: 412px) {
    #guesses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin: 0px 23.5px;
    }
}

@media (min-width: 456px) {
    #content {
        width: 100%;
        max-width: 475px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        padding: 45px 30px 45px 30px;
        background-repeat: round;
    }

    #guesses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin: 0px 35.5px;
    }
}

@media (min-width: 500px) {
    #content {
        width: 100%;
        max-width: 475px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        padding: 30px 40px 30px 40px;
        background-repeat: round;
    }

    #guesses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin: 0px 35px;
    }
}

@media (min-width: 575px) {
    #guesses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
        margin: 0px 35px;
    }

    .display-big-settings {
        width: 76%;
        height: 41%;
    }

    .display-small-settings {
        width: 75%;
        height: 35%;
    }
    
    .display-big-victory {
        width: 80%;
        height: 50%;
    }

    .display-small-victory {
        width: 80%;
        height: 45%;
    }
}

@media (min-width: 830px) {
    .display-big-settings {
        width: 76%;
        height: 47%;
    }

    .display-small-settings {
        width: 75%;
        height: 40%;
    }
    
    .display-big-victory {
        width: 55%;
        height: 50%;
    }

    .display-small-victory {
        width: 55%;
        height: 45%;
    }
}

@media (min-width: 975px) {
    .display-big-settings {
        width: 50%;
        height: 40%;
    }

    .display-small-settings {
        width: 50%;
        height: 35%;
    }

    .display-big-victory {
        width: 50%;
        height: 50%;
    }

    .display-small-victory {
        width: 50%;
        height: 45%;
    }
}

@media (min-width: 1200px) {
    .display-big-settings {
        width: 50%;
        height: 50%;
    }

    .display-small-settings {
        width: 50%;
        height: 45%;
    }
    
    .display-big-victory {
        width: 50%;
        height: 50%;
    }

    .display-small-victory {
        width: 50%;
        height: 45%;
    }
}