@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: 400;
    src: local('Luminari'), url('https://fonts.cdnfonts.com/s/14476/Luminari-Regular.woff') format('woff');
}


